<%= render 'shared/header'%>

<div class="form-container">
  <h2>プロフィール編集</h2>

  <div class="form-wrapper">
  <%= form_with model: @profile, url: settings_profile_path, local: true do |f| %>
    <div class="form-profile-row">
      <%= f.label :icon, 'アイコン画像:', class: "form-profile-label" %>
      <div class="form-profile-media">
      <% if @profile.icon.attached? %>
        <%= image_tag @profile.icon, size: '80x80', alt: 'ユーザーアイコン', class: 'form-profile-value-img' %>
      <% else %>
        <%= image_tag 'default-avatar.png', alt: 'ユーザーアイコン', class: 'form-profile-value-img' %>
      <% end %>
        <label for="profile_icon" class="icon-upload-btn">画像をアップロード</label>
        <span class="file-name" data-filename="profile-file-name" >選択されていません</span>
        <%= f.file_field :icon, id: "profile_icon", autocomplete: "icon", class: 'icon-input js-file-input', data: { filename_target: "profile-file-name" }  %>
      </div>
    </div>
      <%= f.fields_for :user do |n| %>
        <div class="form-profile-row">
          <%= n.label :name, 'ユーザー名:', class: 'form-profile-label' %>
          <%= n.text_field :name, class: 'form-profile-value' %>
        </div>
      <% end %>
    <div class="form-profile-row">
      <%= f.label :introduction, '自己紹介:', class: 'form-profile-label' %>
      <%= f.text_area :introduction, autocomplete: "introduction", class: 'form-profile-value' %>
    </div>
    <div class="form-profile-btn">
      <%= f.submit "編集する", class: 'profile-btn profile-btn-ope' %>
      <%= link_to "戻る", settings_path(tab: :profile), class: 'profile-btn profile-btn-return' %>
    </div>
  <% end %>
  </div>
</div>

<%= render 'shared/hero_recommend_area'%>

<%= render 'shared/footer'%>
