<%= render 'shared/header'%>

<p>編集画面</p>

<%= form_with model: @profile, url: settings_profile_path, local: true do |f| %>
  <div class="">
    <%= f.label :introduction, '自己紹介' %>
    <%= f.text_area :introduction, autocomplete: "introduction" %>
  </div>
  <div class="">
    <%= f.label :icon, 'アイコン画像' %>
    <%= f.file_field :icon, autocomplete: "icon" %>
  </div>
  <%= f.fields_for :user do |n| %>
    <div class="">
      <%= n.label :name, 'ユーザー名' %>
      <%= n.text_field :name %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "編集する" %>
  </div>
<% end %>

<%= link_to "戻る", settings_path(tab: :profile) %>

<%= render 'shared/footer'%>
