<header class="header" >
  <div class="header-inner">
    <h1>
      <%= link_to "宿泊予約アプリ", root_path, class: "site-logo" %>
    </h1>
    <nav class="header-nav">
      <ul>
        <% if user_signed_in? %>
        <li class="user-menu">
          <button type="button" class="user-menu-trigger">
            <% if @profile.icon.attached? %>
              <%= image_tag @profile.icon, alt: 'ユーザーアイコン', class: 'user-avatar' %>
            <% else %>
              <%= image_tag 'default-avatar.png', alt: 'ユーザーアイコン', class: 'user-avatar' %>
            <% end %>
            <span><%= current_user.name %>さん</span>
            <span class="user-menu-caret">▼</span>
          </button>
          <div class="user-menu-dropdown">
            <ul>
              <li><%= link_to '施設の新規登録', new_room_path %></li>
              <li><%= link_to '予約済み一覧', reservations_path %></li>
              <li><%= link_to '登録済み一覧', rooms_own_path %></li>
              <li><%= link_to 'アカウントの設定', settings_path %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %></li>
            </ul>
          </div>
        </li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
