<header>
  <div class="header-inner">
    <h1>
      <%= link_to "宿泊予約アプリ", root_path, class: "header-title" %>
    </h1>
    <nav class="main-nav">
      <ul>
        <li class="menu-item">
        <% if user_signed_in? %>
          <a href="#">
            <span><%= image_tag 'default-avatar.png', alt: 'ユーザーアイコン', class: 'calculator-icon' %></span>
            <span><%= current_user.name %>さん▼</span>
          </a>
          <div class="dropdown-menu">
            <ul>
              <li><a href="#" >施設の新規登録</a></li>
              <li><a href="#" >予約済み一覧</a></li>
              <li><a href="#" >登録済み一覧</a></li>
              <li><a href="#" >アカウントの設定</a></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %></li>
            </ul>
          </div>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
