  <%= render 'shared/header'%>
<div class="content-wrapper">
  <div class="search-content">
    <div class="catch-phrase">
      <p>宿泊予約アプリで</br>まだ体験したことのない</br>旅をしよう</p>
    </div>
    <div class="search-form">
      <%= search_form_for @q, url: rooms_path, local: true do |f| %>
        <%= f.search_field :address_cont, placeholder: "エリア名", class: "text-area" %>
        <%= f.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
  </div>

  <div class="area-inner">
    <h3>おすすめのエリア</h3>
    <div class="product-grid">
      <%= link_to rooms_path(q: { address_cont: "東京" }), class: "product-item" do %>
        <div class="area">
          <p>東京</p>
          <p>Tokyo</p>
        </div>
      <% end %>  
      <%= link_to rooms_path(q: { address_cont: "大阪" }), class: "product-item"  do %>
        <div class="area">
          <p>大阪</p>
          <p>Osaka</p>
        </div>
      <% end %>
      <a href="#" class="product-item">
        <div class="area">
          <p>京都</p>
          <p>Kyoto</p>
        </div>
      </a>
      <a href="#" class="product-item">
        <div class="area">
          <p>札幌</p>
          <p>Sapporo</p>
        </div>
      </a>
  </div>
</div>
<footer class="footer">
  <div class="footer-inner">
    <div class="header-title">
    <h1>
      <%= link_to "宿泊予約アプリ", root_path, class: "header-title" %>
    </h1>
    <p>&copy;2026 StayReservation. All Rights Reserved</p>
    </div>
    <ul class="footer_nav">
      <li><a href="#">About</a></li>
      <li><a href="#">サイトマップ</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
    </ul>
  </div>
</footer>


