  <%= render 'shared/header'%>
<div class="content-wrapper">
  <div class="hero">
    <div class="hero-copy">
      <p>宿泊予約アプリで<br>まだ体験したことのない<br>旅をしよう</p>
    </div>
    <div class="hero-search-form">
      <%= search_form_for @q, url: rooms_path, local: true do |f| %>
        <%= f.search_field :address_cont, placeholder: "エリア名", class: "area-search-input" %>
        <%= f.submit "検索", class: "hero-search-btn" %>
      <% end %>
    </div>
  </div>

  <%= render 'shared/hero_recommend_area'%>
</div>
  <%= render 'shared/footer'%>


