<%= render 'shared/header'%>
<h2>予約の詳細</h2>
  <div>
    <%= link_to "←戻る", :back %>
    <%= link_to "編集する", edit_reservation_path() %>
  </div>
    <div> 施設画像
    <% if @reservation.room.image.attached? %>
    <p><%= image_tag @reservation.room.image, size: '100x100', alt: '宿泊先の画像' %></p>
    <% else %>
    <p><%= image_tag 'default-room.png', size: '100x100', alt: '宿泊先のデフォルト画像' %></p>
    <% end %>
    <h2>施設名: <%= @reservation.room.name %></h2>
    <p>チェックイン日: <%= @reservation.check_in_date %></p>
    <p>チェックアウト日: <%= @reservation.check_out_date %></p>
    <p>宿泊日数: <%= @reservation.stay_days %>日</p>
    <p>宿泊人数: <%= @reservation.guest_count %>人</p>
    <p>宿泊料金: <%= @reservation.calculate_total_price %>円</p>
  </div>
