<div class="form-room-container">
  <h2><%= title %></h2>
  <div class="form-room-wrapper">
    <%= form_with model: @room, local: true do |f| %>
    <div class="form-room-row form-room-horizontal">
      <div class="form-room-meta">
        <div class="form-room-label">
          <%= f.label :name, class: 'form-room-title' do %>
            施設名<small>※必須</small>
          <% end %>
        </div>
        <div class="form-room-error">
          <% if f.object.errors.has_key?(:name) %>
            <%= f.object.errors.full_messages_for(:name).join(", ") %>
          <% end %>
        </div>
      </div>
    
      <div class="form-room-input">
        <%= f.text_field :name, placeholder: "施設名を入力", class: 'form-room-value' %>
      </div>
    </div>

    <div class="form-room-row form-room-horizontal">
      <div class="form-room-meta">
        <div class="form-room-label">
          <%= f.label :introduction, class: 'form-room-title' do %>
            施設詳細<small>※必須</small>
          <% end %> 
        </div>

        <div class="form-room-error">
          <% if f.object.errors.has_key?(:introduction) %>
            <%= f.object.errors.full_messages_for(:introduction).join(", ") %>
          <% end %>
        </div>
      </div>

      <div class="form-room-input">
        <%= f.text_area :introduction, placeholder: "施設詳細を入力", class: "form-room-value form-room-introduction" %>
      </div>
    </div>

    <div class="form-room-row form-room-horizontal">
      <div class="form-room-meta">
        <div class="form-room-label">
          <%= f.label :fee_per_day, class: 'form-room-title' do %>
            料金<small>※必須</small>
          <% end%>
        </div>

        <div class="form-room-error">
          <% if f.object.errors.has_key?(:fee_per_day) %>
            <%= f.object.errors.full_messages_for(:fee_per_day).join(", ") %>
          <% end %>
        </div>
      </div>
      
      <div class="form-room-input">
        <%= f.number_field :fee_per_day, min: 0, step: 1, placeholder: '1日あたりの料金を入力', class: 'form-room-value' %>
      </div>
    </div>

    <div class="form-room-row form-room-horizontal">
      <div class="form-room-meta">
        <div class="form-room-label">
          <%= f.label :address, class: 'form-room-title' do %>
            施設住所<small>※必須</small>
          <% end %>
        </div>

        <div class="form-room-error">
          <% if f.object.errors.has_key?(:address) %>
            <%= f.object.errors.full_messages_for(:address).join(", ") %>
          <% end %>
        </div>
      </div>
    
      <div class="form-room-input">
        <%= f.text_field :address, placeholder: "施設住所を入力", class: 'form-room-value' %>
      </div>
    </div>

    <div class="form-room-row form-room-horizontal form-room-media">
      <div class="form-room-label form-room-media-label">
        <%= f.label :image, '施設画像', class: 'form-room-title ' %>
      </div>

      <div class="form-room-input form-room-media-input">
        <label for="new_room_icon" class="room-upload-btn">画像をアップロード</label>
        <span class="file-name" data-filename="room-file-name" >選択されていません</span>
        <%= f.file_field :image, id: "new_room_icon", autocomplete: "icon", class: 'form-room-img icon-input js-file-input', data: { filename_target: "room-file-name" } %>
      </div>
    </div>
  
      <div class="form-room-btn">
        <%= f.submit '保存', class: "room-btn room-btn-ope" %>
        <%= link_to '← 戻る', request.referer || rooms_path, class: "room-btn room-btn-return" %>
      </div>
    </div>  
    <% end %>
  </div>
</div>
