<%= render 'shared/header'%>

<%= search_form_for @q_form, url: rooms_path, local: true do |f| %>
  <div>
    <%= f.search_field :address_cont, placeholder: "エリア名" %>
  </div>
  <div>
    <%= f.search_field :name_or_introduction_cont, placeholder: "キーワード" %>
  </div>
  <div>
    <%= f.submit "検索" %>
  </div>
<% end %>

  <p><%= @rooms_count %>件が見つかりました</p>
  <h2>施設一覧</h2>
<% @rooms.each do |room|%>
  <div>
    <% if room.image.attached? %>
      <p><%= image_tag room.image, size: '100x100', alt: '宿泊先の画像' %></p>
    <% else %>
      <p><%= image_tag 'default-room.png', size: '100x100', alt: '宿泊先のデフォルト画像' %></p>
    <% end %>
    <h2><%= room.name %></h2>
    <p><%= room.introduction %></p>
    <p><%= room.fee_per_day %></p>
    <p><%= room.address%></p>
    <p><%= link_to "詳細を表示", room_path(room.id) %></p>
  </div>
<% end %>

<%= render 'shared/footer'%>
