<%= render 'shared/header'%>

<%= render 'shared/search_room_area_keyword_form' %>

  <div class="room-show-container">

    <div class="room-show-header">
      <%= link_to '← 戻る', request.referer || rooms_path, class: "room-btn-return" %>
      <% if user_signed_in? && @room.user == current_user %>
      <%= link_to "編集する", edit_room_path(@room), class: "room-btn-edit" %>
      <% end %>
    </div>

    <div class="room-show-contents-wrapper">

      <div class="room-show-img-field">
        <% if @room.image.attached? %>
          <%= image_tag @room.image, alt: '宿泊先の画像', class: 'room-show-img' %>
        <% else %>
          <%= image_tag 'default-room.png', alt: '宿泊先のデフォルト画像', class: 'room-show-img' %>
        <% end %>
      </div>
      <div class="room-show-info-field">
        <h2><%= @room.name %></h2>
        <span class="room-show-address-value" ><%= @room.address%></span>
        <p class="room-show-induction-value" ><%= @room.introduction %></p>

        <div class="room-show-footer">
          <p class="room-fee_per_day-value" ><%= number_to_currency(@room.fee_per_day) %></p>

          <p class="room-show-btn">
            <% if user_signed_in? %>
              <%= link_to "予約する", new_room_reservation_path(@room) %>
            <% else %>
              <%= link_to "ログインまたは新規登録", new_user_session_path %>
            <% end %>
          </p>
        </div>
      </div>
  </div>

<%= render 'shared/hero_recommend_area'%>

<%= render 'shared/footer'%>
