  <%= render 'shared/header'%>
  <div>
    <%= link_to "←戻る", :back %>
    <% if user_signed_in? && @room.user == current_user %>
    <%= link_to "編集する", edit_room_path(@room) %>
    <% end %>
  </div>
  <div>
    <% if @room.image.attached? %>
    <p><%= image_tag @room.image, size: '100x100', alt: '宿泊先の画像' %></p>
    <% else %>
    <p><%= image_tag 'default-room.png', size: '100x100', alt: '宿泊先のデフォルト画像' %></p>
    <% end %>
    <h2><%= @room.name %></h2>
    <p><%= @room.introduction %></p>
    <p><%= @room.fee_per_day %></p>
    <p><%= @room.address%></p>
  </div>
